%h1 Containers
%hr

%table.table.table-condensed
  %thead
    %tr
      %th Name
      %th State
      %th Memory
  %tbody
    - @containers.each do |c|
      %tr
        %td= link_to c.name, "containers/#{c.name}"
        %td= running_helper c.running? 
        %td= bytes_in_megabytes(c.memory_usage).to_s + ' MB / ' + bytes_in_megabytes(c.memory_limit).to_s + ' MB'
        - if c.running?
          %td
            %a.btn.btn-danger.btn-small{:href => "/containers/#{c.name}/stop"} Stop
        - else
          %td
            %a.btn.btn-info.btn-small{:href => "/containers/#{c.name}/start"} Start
