
.page-header
  %h1= "Netstat for #{@container.name}"

.span12
  %pre
    %code.prettyprint.lang-bash= @container.netstat
  %center
    = link_to "Back to #{@container.name}", containers_path + "/" + @container.name, class: "btn"
