.page-header
  %h1= "Process List for #{@container.name}"
  %hr

.span10.offset1
  %pre
    %code.prettyprint.lang-bash= @container.pslist
  %center
    = link_to "Back to #{@container.name}", containers_path + "/" + @container.name, class: "btn"
