.page-header
  %h1= @container.name

%table.table.table-condensed
  %tr
    %td State
    %td= running_helper @container.running?
  %tr
    %td Memory
    %td= bytes_in_megabytes(@container.memory_usage).to_s + ' MB / ' + bytes_in_megabytes(@container.memory_limit).to_s + ' MB'
  %tr
    %td Root Path
    -# @lxc_path = File.join(lxc_path, @container.name)
    %td= @container.root_path
  %tr
    %td Container Configuration
    %td= link_to @container.config_path, "/containers/#{@container.name}/config"
  %tr
    %td Network Configuration
    - path = @container.interfaces_path 
    - if path.nil?
      %td This Container does not have an interface Configuration
    - else
      %td= link_to path, "/containers/#{@container.name}/interfaces"
  %tr
    %td Running Tasks
    %td= link_to "Process List", "/containers/#{@container.name}/pslist"
  %tr
    %td Logs
    %td= link_to "Syslog", "/containers/#{@container.name}/syslog"

%center
  = link_to 'Back', containers_path, class: "btn"
