.page-header
  %h1= "Syslog for #{@container.name}"
  %hr

.span10.offset1
  %pre
    %code.prettyprint.logs= @lines.join("\n")
  %center
    = link_to "Back to #{@container.name}", containers_path + "/" + @container.name, class: "btn"
