.page-header
  %h1= "Syslog for #{@container.name}"

.span12
  %pre
    %code= @lines.join("\n")
  %center
    = link_to "Back to #{@container.name}", containers_path + "/" + @container.name, class: "btn"
