!!!
%html
  %head
    %meta{:charset => "utf-8"}
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1, maximum-scale=1"}
    %title= content_for?(:title) ? yield(:title) : "LXC"
    %meta{:content => "", :name => "description"}
    %meta{:content => "", :name => "author"}
    = stylesheet_link_tag "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    = yield(:head)
  %body{:onload => "prettyPrint()"}
    %header.navbar.navbar-fixed-top
      %nav.navbar-inner
        .container
          = render 'layouts/navigation'
    #main{:role => "main"}
      .container
        .content
          .row
            .span12
              = render 'layouts/messages'
              = yield
          %hr
        %footer.footer
          %center
            = "Source Code available at"
            %a{href: "https://github.com/randywallace/lxc-rails"} Github
            %br
            = "Code licensed under the "
            %a{href: "http://opensource.org/licenses/MIT"} MIT License
            %br
            = "Theme Spacelab available at"
            = link_to "Bootswatch", 'http://bootswatch.com/spacelab/'
            %br
            = "Layout based on"
            = link_to "Bootstrap", 'http://twitter.github.com/bootstrap'
            %br
            = "Icons from"
            = link_to "Glyphicons", 'http://glyphicons.com/'
            %br
            = "Web fonts from"
            = link_to "Google", 'http://www.google.com/webfonts'
            %p &copy; 2013 Randy Wallace
